*{
	box-sizing: border-box;
}

html,body{
	min_height: 100vh;
	margin: 0;
}

img {
	max-width:100%;
}

body{
	color: white;
	font-size:150%;
	
}

.buttons{
	display:flex;
	grid-gap:10px;
	align-content: center;
	justify-content: center;

	padding: 10px 0px 10px 0px;
	
}
.active{
background-color: gray;
color: white;

}


.quotes {
color:white;
display:flex;

}



div > div {
width:250px;
height: 250px;
padding:20px;


}